body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

.card-title card-content z-depth-5 {
    height: 500px;
}

#map {
    height: 400px;
    width: 100%;
}

main {
  flex: 1 0 auto;
}


#welcome-page {
  background: url(assets/FoodieCrawlBackground_1.jpg) no-repeat center center fixed; 
  background-size: auto;
  background-position: top;
  margin-top: -25px;
  margin-bottom: -25px;
  height: 50%;
}

#navTop {
  height: 100px;
  line-height: 100px;
  background-color: transparent !important;
}

h2 {
  text-align: center;
  font-family: 'Indie Flower', cursive; 
  font-size: 30px; 
  padding-left: 20px; 
  color: rgb(238, 110, 115);
  }
