body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

.card-title card-content z-depth-5 {
    height: 500px;
}

#map {
    height: 400px;
    width: 100%;
}

  main {
    flex: 1 0 auto;
  }


  #welcome-page {
    background: url(assets/FoodieCrawlBackground_1.jpg) no-repeat center center fixed; 
    background-size: cover;
    margin-top: -25px;
    margin-bottom: -25px;
    height: 50%;
  }

  nav {
    height: 100px;
    line-height: 100px;
  }

  #mainContainer {
      
  }
