body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#map {
  height: 400px;
  width: 100%;
}

#welcome-page {
  background: url(assets/FoodieCrawlBackground_1.jpg) no-repeat center center
    fixed;
  background-size: auto;
  background-position: top;
  margin-top: -25px;
  height: 50%;
}

#navTop {
  height: 100px;
  line-height: 100px;
  background-color: transparent !important;
}

h2 {
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 30px;
  padding-left: 20px;
  color: rgb(238, 110, 115);
}

#submit{
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 35px;
  font-family: "Indie Flower", cursive;
  line-height: 50px;
  font-weight: bold;
}

#renderButton {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 35px;
  font-family: "Indie Flower", cursive;
  line-height: 50px;
  font-weight: bold;
}

#mainContainer {
  justify-content: center;
}

#cuisineInputArea {
width: 48%;
}

#locationInputArea {
width: 48%;
}


/* FoodieCrawl Information Area */
#siteInformationArea {
  margin-top: 100px;
}

#aboutFoodieCrawlHeading {
  font-family: "Indie Flower", cursive;
  font-size: 30px;
  color: rgb(238, 110, 115);
}


/* Card Output */
.card {
  height: 550px;
}

.card-image {
  background-color: lightgrey;
  object-fit: cover;
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.card-title {
  line-height: 80px;
  background-color: rgb(238, 110, 115);
  color: white;
  padding: 0;
  margin: 0;
}

.card-action {
  height: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.cardLoationTitleElement {
  font-family: "Indie Flower", cursive;
  color:  rgb(238, 110, 115);
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
  padding: 0;
  margin: 0;
}

/* FoodieCrawl Map */
#crawlStartMessage {  
  font-family: "Indie Flower", cursive;
  color:  rgb(238, 110, 115);
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
}